<!DOCTYPE HTML>
<!--
	Original design:
	Solid State by HTML5 UP
	html5up.net | @ajlkn
-->
<html>
    <head>
        <title>HEIG_TWEB_2016_lab01</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--[if lte IE 8]>
        <script src="<%= assets %>/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="<%= assets %>/css/main.css"/>
        <!--[if lte IE 9]>
        <link rel="stylesheet" href="<%= assets %>/css/ie9.css"/><![endif]-->
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="<%= assets %>/css/ie8.css"/><![endif]-->
    </head>
    <body>

        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="alt">
                <h1><a href="<%= ghPages %>">HEIG_TWEB_2016_lab01</a></h1>
            </header>

            <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <div class="logo"><span class="icon fa-code-fork"></span></div>
                    <h2>HEIG_TWEB_2016_lab01</h2>
                    <p>The first lab of TWEB at <a href="http://www.heig-vd.ch/">HEIG-VD</a>.</p>
                    <p><a href="<%= ghPages %>" class="special">The Landing Page</a></p>
                </div>
            </section>

            <!-- Wrapper -->
            <section id="wrapper">

                <!-- One -->
                <section id="one" class="wrapper spotlight style1">
                    <div class="inner">
                        <a href="#" class="image"><img src="https://github.com/BenjaminSchubert.png" alt=""/></a>
                        <div class="content">
                            <h2 class="major">Benjamin Schubert</h2>
                            <a href="https://github.com/BenjaminSchubert" class="special">Learn more</a>
                        </div>
                    </div>
                </section>

                <!-- Two -->
                <section id="two" class="wrapper alt spotlight style2">
                    <div class="inner">
                        <a href="#" class="image"><img src="https://github.com/Flagoul.png" alt=""/></a>
                        <div class="content">
                            <h2 class="major">Basile Vu</h2>
                            <a href="https://github.com/Flagoul" class="special">Learn more</a>
                        </div>
                    </div>
                </section>
            </section>

            <!-- Footer -->
            <section id="footer">
                <div class="inner">
                    <ul class="copyright">
                        <li>&copy; Benjamin Schubert and Basile Vu. All rights reserved.</li>
                        <li>Original design from: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Scripts -->
        <script src="<%= assets %>/js/skel.min.js"></script>
        <script src="<%= assets %>/js/jquery.min.js"></script>
        <script src="<%= assets %>/js/jquery.scrollex.min.js"></script>
        <script src="<%= assets %>/js/util.js"></script>
        <!--[if lte IE 8]>
        <script src="<%= assets %>/js/ie/respond.min.js"></script><![endif]-->
        <script src="<%= assets %>/js/main.js"></script>

    </body>
</html>
